<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My portfolio</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
	<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
</head>
<body>
	<!--Navigation bar-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
          <!--image and short intro-->
          <div class="container.fluid p-5 bg-light text-white text-center">
          <img src="../assets/img/1.img.jpeg"height="200px" width="150px"class="rounded-circle" >
          <h4 style="color:black;">Nirmala Chaudhary</h4>
          <a href="https://www.facebook.com/nirmala.chaudhary.1612147/"><img src="../assets/img/face.1.svg" height="30" width="30"></a>
         <a href="https://www.instagram.com/nirmala_chdry/"> <img src="../assets/img/instagram.svg" height="30" width="30"></a>
          </div>
        <!--about section-->
        <div class="container mt-5">
         <h2 id="about">About</h2>
        <font size="5">
       My name is Nirmala Chaudhary.I am 16 years old.I like to play basketball.I live in Chuchepati.I have joined computer class recently which is very intresting and fun.<br>
       </font>
        </div>
        <!--Academic History Section-->
        <div class="container mt-5">
          <h2>Academic History</h2>
           <div class="row">
          <div class="col-lg-4 d-flex algibn-items-stretch">
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
              <div class="card-header"><h4 class="card-title">Basic Level Examination(BLE)</h4></div>
                <div class="card body text secondary">
                <p class="card-text">
                  G.P.A:3.60<br>
                  Year: 2076<br>
                School:Lumbini Academy Secondary School<br>
                Location:Chuchepati,Kathmandu<br>
                Contact:980000000<br>
               
            </p>
           </div>
          </div>     
         </div>
          <div class="col-lg-4 d-flex algibn-items-stretch">
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
              <div class="card-header"><h4 class="card-title">Secondary Education Examination(SEE)</h4></div>
                <div class="card body taxt secondary">
                 <p class="card-text">
                   G.P.A:***<br>
                  Year: 2078<br>
                 School:Lumbini Academy Secondary School<br>
                Location:Chuchepati,Kathmandu<br>
                Contact:98000000<br>
                
            </p>
           </div>
          </div>     
         </div>
            <div class="col-lg-4 d-flex algibn-items-stretch">
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
              <div class="card-header"><h4 class="card-title">Computer Course</h4></div>
                <div class="card body taxt secondary">
                 <p class="card-text">
                   <br>
                  Year 2079<br>
                 Institute:Kathalaya Institute<br>
               Location:Chabahil,Kathmandu<br>
                Contact:+977-9881303464<br>
                <a href="https://www.facebook.com/pages/category/Education/Kathalaya-institute-of-training-and-consulting-108772507403243/"> Kathalaya Institute</a>

              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Contact Form -->
      <div class="container">
        <h2 id="contact">Contact Me</h2>
          <div class="row">
              <div class="col-md-8">
                  <div class="well well-sm">
                    <form>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="name">Name</label>
                                  <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                              </div>
                              <div class="form-group">
                                  <label for="email"> Email Address</label>
                                  <div class="input-group">
                                      <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                      <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                              </div>
                              <div class="form-group">
                                  <label for="subject">Subject</label>
                                  <select id="subject" name="subject" class="form-control" required="required">
                                      <option value="na" selected="">Choose One:</option>
                                      <option value="service">Job Offer</option>
                                      <option value="suggestions">Suggestions</option>
                                      <option value="product">Scholarship</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="name">Message</label>
                                  <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                      placeholder="Message"></textarea>
                              </div>
                          </div>
                          <div class="col-md-12">
                              <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">Send Message</button>
                          </div>
                      </div>
                    </form>
                  </div>
              </div>
              <div class="col-md-4">
                <form>
                  <legend><span class="glyphicon glyphicon-globe"></span> Adress</legend>
                  <address>
                      <strong>Kathalaya Institute</strong><br>
                      Chuchepati,Kathmandu<br>
                
                      <abbr title="Phone"></abbr>
                      Contact: 9851060064
                  </address>
                  <address>
                      <strong>Full Name</strong><br>
                      <a href="mailto:#">nirmalachaudhary0016@gmail.com</a>
                  </address>
                </form>
              </div>
          </div>
      </div>
  <!--Footer-->
  <footer class="page footer font -small dark">
    <!-- Copyright-->
    <div class="footer-copyright text-center py-3"> &copy; 2020 Copyright:
      <a href="/">Nirmala Chaudhary</a>
    </div>
    <!--Copyright-->
    
  </footer>



               
    
              
            

            
          


      
     
    





</body>
</html>
